$fonte1: 'Raleway', sans-serif;
$fonte2: 'Edmondsans Regular';

$whatsapp:#25D366;
$facebook:#3b5999;
$linkedin:#0077B5;
$twitter:#55acee;
$youtube:#cd201f;

$cor_padrao: #000;

@function rem($pixels, $contexto: 16) 
{
	@return ($pixels / $contexto) * 1rem;
}

%center{
	display: flex;
	align-items: center;
	justify-content: center;
}

%absolute_background{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

%background_config{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

